asgiref==3.7.2
black==22.1.0
blue==0.9.1
click==8.1.7
Django==5.0.1
django-autoslug==1.9.9
django-countries==7.5.1
django-environ==0.11.2
django-filter==23.5
django-phonenumber-field==7.3.0
djangorestframework==3.14.0
flake8==4.0.1
isort==5.13.2
mccabe==0.6.1
mypy-extensions==1.0.0
pathspec==0.12.1
phonenumbers==8.13.29
pillow==10.2.0
platformdirs==4.1.0
psycopg2-binary==2.9.9
pycodestyle==2.8.0
pyflakes==2.4.0
pytz==2023.3.post1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
